body {
    background-color: white;
}

table {
    margin: 10px;
}

/* You can specify multiple HTML tags you want to apply the styling to */
table,
th,
td {
    border: 2px solid black;
    border-collapse: collapse;
}

/* The '.' in from of 'column' tells us this is a class name 
(for more information check out this guide -> https://www.w3schools.com/cssref/sel_class.php) */
.column {
    float: left;
    width: 33.33%;
}

/* Clear floats after the columns */
.row:after {
    content: '';
    display: table;
    clear: both;
}

th,
td {
    text-align: left;
    padding: 8px;
}

tr:nth-child(odd) {
    background-color: #b6f0f0;
}

tr:nth-child(even) {
    background-color: #d6eeee;
}
