<!DOCTYPE html>
<html>
<head>
    <title>Flight Data</title>
</head>
<body>
    <div class="dropdown">
        <button onclick="myFunction()" class="dropbtn">Dropdown</button>
        <div id="myDropdown" class="dropdown-content">
          <a href="#">Link 1</a>
          <a href="#">Link 2</a>
          <a href="#">Link 3</a>
        </div>
      </div>
    <h1>Pets</h1>
    <table>
        <tr>
            <th>Name</th>
            <th>Pets Name</th>
        </tr>

        
    {% for i in data %}
        <tr>
        <td>{{ i.user }}</td>
        <td>{{ i.PetsName }}</td>
        </tr>
    {% endfor %}
        
</body>
</html>
